[2019-07-31 19:39] dagood opened #191 "Determine branding for WindowsDesktop shared framework bundle installer"
This is what the Windows Desktop Runtime bundle installer UI looks like with my initial implementation, basically just replacing `.NET Core` with `Windows Desktop`. Initial questions:

1. Is `Microsoft Windows Desktop Runtime` the right name?
2. What should the description text be changed to?
3. What should/can we do about the overflow?
   * An interesting wrinkle with fixing it is the `Alpha 1`/`

[2019-07-31 20:43] dagood opened #921 "Put WindowsDesktop shared framework bundle installer through loc process"
There are new strings with the WindowsDesktop shared framework bundle installer (at minimum `.NET Core Runtime` => `Windows Desktop Runtime`) that need to be localized.

Currently blocked on getting the branding info to localize: https://github.com/dotnet/core-setup/issues/7530.

[2019-10-03 19:44] dagood opened #2 "Change downstream repos to use dotnet/windowsdesktop, not dotnet/core-setup"
`darc get-subscriptions` tells me that these subscriptions exist with Core-Setup as the source:

* [x]  ==> 'dotnet-wpf-int' ('master')
  * NETCoreApp. Depends on `Microsoft.NET.Sdk.WindowsDesktop`, but it's not in this repo. (Yet!)
* [x]  ==> 'https://github.com/aspnet/EntityFramework6' ('master')
  * Only NETCoreApp.
* [x]  ==> 'https://github.com/aspnet/Extensions' ('master')
  * Only NETCoreAp

[2019-10-03 20:25] dagood opened #3 "Fix package validation (reference closure check) to work with nonlocal NETCoreApp"
https://github.com/dotnet/windowsdesktop/blob/6c6432c74106b2cf587b7d42790897e966e865ec/pkg/windowsdesktop/pkg/Microsoft.WindowsDesktop.App.pkgproj#L20-L27

This check is important to get running because:

[2019-10-03 20:29] dagood opened #4 "The [...].versions.txt file in the NuGet packages says the commit comes from core-setup"
The `Microsoft.WindowsDesktop.App.versions.txt` files in the nupkgs say `core-setup <commit hash>`. This is defined in the shared framework tooling SDK, I missed it when implementing it:

https://github.com/dotnet/arcade/blob/663f5c6784b20b4c95ce92f0e4777af35b5eb771/src/Microsoft.DotNet.Build.Tasks.SharedFramework.Sdk/targets/framework.dependency.targets#L112

The obvious fix is to change that sid

[2019-10-03 20:33] dagood opened #5 "Remove leftover code after the migration from the Core-Setup repo"
This repo took a lot of code from Core-Setup to get started. A lot of it doesn't apply here, and should be removed for maintainability:

* There are dependencies in `Version.Details.props`, and `Versions.props` that aren't used.
  * This may also affect how WindowsDesktop appears in build graphs and reporting tools. Most important to remove this, I believe.
* There are references to non-Windows pl

[2019-10-04 19:23] dagood opened #7 "Fix up list of Windows compatibility pack libraries included in WindowsDesktop targeting pack and runtime"
(Copied from https://github.com/dotnet/core-setup/issues/7290.)

---

Note that this was done in Core-Setup `release/3.0`, but was not in Core-Setup `master`. The reason behind that is at https://github.com/dotnet/core-setup/issues/7290#issuecomment-515543441:

I believe this is a dangerous change to take without closure validation: https://github.com/dotnet/windowsdesktop/issues/3. I think we sho

[2019-10-08 17:52] dagood commented on #2
Complete with https://github.com/dotnet/core-sdk/pull/5171!

[2019-10-08 17:52] #2 closed

[2019-10-08 22:39] dagood opened #20 "Include .NET Core Runtime in WindowsDesktop bundle"
This is a clone of https://github.com/dotnet/core-setup/issues/8504. This feature will be implemented in Core-Setup pre-5.0, but it needs to be reimplemented in WindowsDesktop for 5.0+ because of the repo split.

Unfortunately, due to the split, the implementation will be more difficult here. We need some infra that will download the .NET Core Runtime MSIs and bundle them into the WindowsDesktop b

[2019-10-09 19:40] zsd4yr commented on #20
Won't this version be dependent on the version of the runtime WPF/WinForms are built with?

[2019-10-09 19:43] dagood commented on #20
Yeah, setting up a coherent parent dependency makes sense to me.

[2019-10-09 20:03] zsd4yr commented on #20
Pardon the clarification -- @vatsan-madhavan will WPF continue to coherent parent depend its version of the runtime via WinForms?
If not, then ensuring coherency of that dependency here may be sticky.

[2019-10-10 00:47] vatsan-madhavan commented on #20
Yes, we will continue depending on WinForms to inform our runtime version.

All WindowsDesktop pieces should have one controlling entity for the runtime version. WinForms is the lowest in layering - so that’s it.

[2019-10-10 00:48] vatsan-madhavan commented on #20
This repo should also ingest runtime version via WimForms IMO.

[2019-10-22 16:32] #3 closed

[2019-10-29 15:00] dagood commented on #7
Completed by https://github.com/dotnet/windowsdesktop/pull/127.

[2019-10-29 15:00] #7 closed

[2019-10-30 21:41] dagood opened #136 "Include both x86 and x64 runtimes in the .NET Desktop Bundle"
For 3.0, we have this matrix of installers built in dotnet/core-setup that potentially all need to be installed to get WindowsDesktop apps to run:

|   | x64 | x86 |
| --- | --- | --- |
.NET Core Runtime | x | x
.NET Desktop Runtime | x | x

In 3.1, this matrix is simplifying to:

|   | x64 | x86 |
| --- | --- | --- |
.NET Desktop Runtime | x | x

The ideal is bundling both architectures in one in

[2019-10-30 23:00] Symbai commented on #136
I highly appreciate the amazing effort your team is doing to simplify the end user experience. But there is an issue when combining the architectures when:

1. A developer has a 64bit machine
2. The developer compiles his application explicitly as 32bit / x86
3. The user has a 64bit machine
4. The user downloads the installer with combined architectures
5. The installer will likely install the 64b

[2019-10-30 23:54] dagood commented on #136
I missed actually mentioning it, but yes, that's the plan for exactly that reason. 😄 Thanks for writing out the scenario, it's useful to have listed here.

[2019-12-02 22:05] dagood opened #250 "Fix targeting pack servicing skip infrastructure to allow for prerelease servicing builds"
See https://github.com/dotnet/core-setup/issues/8927. A fix is needed for 5.0 as well for the windowsdesktop targeting pack. It will take a while for it to matter (5.0 servicing builds!) but it's important to keep track of this.

[2020-01-08 19:15] AArnott opened #367 "Stale WinForms drop"
I just downloaded the latest drop and it does not have the content of [this PR](https://github.com/dotnet/winforms/pull/2650) which completed two days ago. So either the dependencies aren't updating at all, or perhaps the drops just aren't built frequently.

[2020-01-08 19:21] dagood commented on #367
The flow is blocked at WPF: https://github.com/dotnet/wpf/pull/2399. Official builds are working fine ATM, latest 3h ago: https://dev.azure.com/dnceng/internal/_build/results?buildId=476092&view=results

[2020-01-09 10:33] vitek-karas opened #368 "Wrong version in WindowsDesktop to NETCore.App dependency"
The latest full SDK from [core-sdk](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdotnetcli.blob.core.windows.net%2Fdotnet%2FSdk%2Fmaster%2Fdotnet-sdk-latest-win-x64.zip&data=02%7C01%7CVitek.Karas%40microsoft.com%7Cb22c9d84a0814c52b38808d7948f71a7%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637141216131387998&sdata=U83iOsMj%2FstrjY%2FxZEJ%2F6WMnBY4NiPUUeYUzFLYWbko%3D&reserved=

[2020-01-10 02:33] RussKie commented on #368
I think this is somewhat related to the WPF issue with C++/CLR (https://github.com/dotnet/wpf/pull/2399#issuecomment-572241063).
We had a customised build that allowed WinForms and WPF to flow through, but we were pinned to a specific build of Core SDK. When Core SDK was renamed to Runtime, we got unpinned (unfortunately), and now all things are broken.

[2020-01-13 16:11] #20 closed

[2020-01-13 17:49] dagood commented on #368
This should be fixed once the repo gets an arcade update (meshes with https://github.com/dotnet/windowsdesktop/pull/373), but the arcade update PR's been blocked for a while: https://github.com/dotnet/windowsdesktop/pull/236. I'll look at that within a few days. Might be a missing nuget feed based on the CI error message.

[2020-01-17 01:57] dagood opened #397 "Official build break: "Stage PublishFinal_PVR_Publish depends on unknown stage PVR_Publish""
https://dev.azure.com/dnceng/internal/_build/results?buildId=481984&view=results

Broke after https://github.com/dotnet/windowsdesktop/pull/236, a very large arcade update that changed some channels.

[2020-01-17 17:40] #397 closed

[2020-01-17 21:26] dagood commented on #368
Confirmed this is fixed with the latest build! `Microsoft.WindowsDesktop.App` is `5.0.0-alpha.1.20067.4`, but the runtimeconfig contains `5.0.0-alpha1.19514.1`, matching the NETCoreApp laid down by the bundle installer.

[2020-01-17 21:26] #368 closed

[2020-01-27 17:55] MichaelSimons opened #427 "Unable to run 5.0 WindowsDesktop applications - fails to find compatible framework version"
**Steps to Reproduce**
1. Install latest .NET Core SDK.  I am using 5.0.100-alpha.1.20073.4
2. Inspect the components installed - `dotnet --info`
[code]
3. Make a new WPF app - `dotnet new wpf`
4. Run the WPF app - `dotnet run`

**Actual Results**
The app fails to run
[code]

**Expected Results**
The app should run

**Notes**
1. The WindowsDesktop runtime.config that gets installed looks like the

[2020-01-27 18:39] dagood commented on #427
Yes, that's the root of it. Flow has been blocked, causing an incoherent SDK, where the incoherence contains a breaking change to framework versioning. https://github.com/dotnet/windowsdesktop/issues/367

/cc @NikolaMilosavljevic FYI

[2020-01-27 20:20] dagood commented on #427
To temper that a bit... that's my understanding of the current state of the repo based on what I saw when I looked at https://github.com/dotnet/windowsdesktop/issues/367, and fixing a related issue where the runtimeconfig had a *completely* wrong version in it (https://github.com/dotnet/windowsdesktop/issues/368). It looks like the reason for flow being blocked might be different now than what I s

[2020-01-28 00:30] RussKie commented on #427
We are between two worlds - WPF is tied to a specific C++ toolset which was available before labels we changed from "xxx1" to "xxx.1". Taking new Core Runtime brings new labels but breaks WPF...

[2020-01-29 20:26] #250 closed

[2020-02-20 21:38] AdamYoblick opened #530 "Please generate win-arm64 zip and runtime pack"
We'd like to crossgen the winforms binaries to arm64 and have them be publicly available. I know arm64 support for WPF still needs to be investigated, but @richlander indicated there are customers looking for an arm64 native build of winforms.

I've already done a proof of concept building winforms for arm64 and our test app seems to run just fine on an arm64 machine. I can give customers instruct

[2020-02-20 23:08] dagood opened #533 "Port change from Core-Setup to rely on Arcade for dotnetcli blob storage publishing"
See https://github.com/dotnet/core-sdk/pull/6473#issuecomment-589389674

This repo needs to port https://github.com/dotnet/core-setup/pull/8426 to be more flexible with new channels being added.

[2020-02-20 23:29] dagood commented on #530
/cc @NikolaMilosavljevic @dleeapho

Installers for win-arm64 are related (https://github.com/dotnet/runtime/issues/1529, for .NET Core, not only WindowsDesktop), but note that the request is just the zips in this issue.

[2020-02-20 23:33] AdamYoblick commented on #530
I created this issue just in case the arm64 installers were a long way off. If they are in the near future, I think we'd rather go in that direction, but I don't know the timeline 😄

[2020-02-25 01:12] merriemcgaw commented on #530
I don't know how far away WPF is from getting ARM64 set up. Is it an issue to have WinForms in the installer and not WPF? That seems a bit odd to me. If we can't get installers then the zip is fine.

[2020-02-25 23:13] dagood opened #541 "WindowsDesktop installer doesn't install a distinct registry key (5.0+)"
The WD installer places a registry key for `Microsoft.NETCore.App`, not `Microsoft.WindowsDesktop.App`. E.g. a recent daily build:

Key: `SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedfx\Microsoft.NETCore.App`
Name: `5.0.0-preview.2.20125.2`
Value: `#1`

I filed https://github.com/dotnet/runtime/issues/32836 tracking potentially fixing this in 3.1. (Core-Setup servicing issues are tracked in d

[2020-02-26 16:30] MichaelSimons commented on #427
This issue appears to have been resolved.  Closing.

[2020-02-26 16:30] #427 closed

[2020-03-04 08:27] Shyam-Gupta opened #577 "RollForward from 3.1 to 5.0 fails to load System.Drawing.Common, System.CodeDom"
**Repro Steps:**

1. Create a WinForms .NET Core 3.1 application
2. Declare a variable of type `System.Drawing.Font` somewhere in the code
3. Build the application with `rollForward` set to `major`
4. Run the application on a machine having no 3.1 SDK but having latest .NET Core 5.0 SDK installed

**Result:**
System.IO.FileLoadException
  HResult=0x80131040
  Message=Could not load file or assembl

[2020-03-10 17:57] dagood commented on #577
The set of subscriptions targeting this repo are strangely spotty:

[code]

But also Version.Details.xml hasn't been updated, example:

https://github.com/dotnet/windowsdesktop/blob/7aafc9bba6521a60973e43672a4e4cd121bba1be/eng/Version.Details.xml#L15-L16

[2020-03-10 17:58] dagood commented on #577
I got this backwards--this should be updated *by* the Maestro++ auto-update once one happens. Updates are based on package ID (artifact name) alone.

[2020-03-10 20:57] AdamYoblick opened #619 "Please enable SDL validation (policheck, sourcelink, etc)"
Per Vivek's email, please enable SDL validation when calling post-build.yml from publish.yml.

- See https://github.com/dotnet/winforms/blob/4ac79a93f385b189ffbec42fc73329b5acbb52f1/eng/ci.yml#L141 for what winforms passes into the SDL validation.
- See https://dnceng.visualstudio.com/internal/_library?itemType=VariableGroups&view=VariableGroupView&variableGroupId=66&path=DotNet-Winforms-SDLValida

[2020-03-13 22:37] vivmishra commented on #619
Yes, the second statement does not apply to 2.1 -- we should fix it by conditionally removing it.

[2020-03-13 22:40] merriemcgaw commented on #619
/cc: @fabiant3-zz

[2020-03-16 03:48] RussKie commented on #367
Can we close this?

[2020-03-17 21:24] richlander commented on #530
I think we should use the following prioritized ordering:

- Enable the desktop runtime pack to be used on ARM64, for Windows Forms.
- Enable the desktop runtime pack to be crossgen'd on ARM64, for Windows Forms.
- Enable WPF to be used on ARM64 (including crossgen).

[2020-03-17 21:27] dagood commented on #530
Does the shared framework (runtime) itself have a priority or is it intentionally not on that list?

[2020-04-07 15:04] mthalman opened #705 "Wrong runtime version dependency in 5.0 preview 3 build"
In the 5.0.100-preview.3.20202.4 build of the SDK, Microsoft.WindowsDesktop.App depends on version 5.0.0-preview.3.20201.7 of Microsoft.NETCore.App.  But the version of Microsoft.NETCore.App contained in the SDK package is 5.0.0-preview.3.20169.1.

This will cause the following error:
[code]

[2020-04-07 15:47] mmitche commented on #705
@mthalman This is because the latest build of the sdk is failing because of TLS1.2 enforcement. The latest check-ins into the SDK have this new runtime but it is failing to build: https://github.com/dotnet/installer/issues/7050

[2020-04-09 15:09] mthalman opened #716 "Produce WindowsDesktop-only package zip file"
Currently the Microsoft.WindowsDesktop.App package is only available through the .exe installer or via its inclusion in the SDK zip file.  But there is a need for the ability to construct a .NET installation piecemeal.  This is related to https://github.com/dotnet/sdk/issues/11211.

A scenario where this would be used is with Docker images.  As part of the changes in https://github.com/dotnet/dotn

[2020-04-09 19:14] AdamYoblick commented on #619
I'm assigning this to myself as I'm going to do this work.

[2020-04-09 21:20] vatsan-madhavan commented on #716
Have you looked at https://dotnetcli.blob.core.windows.net/dotnet/WindowsDesktop/<version>/windowsdesktop-runtime-<version>-<rid>.zip

For e.g.,
https://dotnetcli.blob.core.windows.net/dotnet/WindowsDesktop/5.0.0-preview.4.20209.2/windowsdesktop-runtime-5.0.0-preview.4.20209.2-win-x64.zip

[2020-04-10 12:58] mthalman commented on #716
Ah perfect.  Yes, that's exactly what's needed.  I just assumed it didn't exist because there was no checksum listed for it (e.g. https://dotnetcli.blob.core.windows.net/dotnet/checksums/3.1.3-sha.txt).  That's a separate issue I guess.

[2020-04-10 12:58] #716 closed

[2020-04-10 13:04] mthalman opened #719 "Checksum for released zip archive file not listed in checksum list"
The release notes for each release link to a checksum file that lists the checksums for all the released files.  Example: the [3.1.3 release notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.3/3.1.3.md) reference this [checksum file](https://dotnetcli.blob.core.windows.net/dotnet/checksums/3.1.3-sha.txt).  The checksums listed do not include the WindowsDesktop runtime zip fil

[2020-04-14 00:28] merriemcgaw commented on #533
@AdamYoblick can you take a look at this for us?

[2020-04-14 16:12] AdamYoblick commented on #533
Yep, it’s on my list :)

________________________________
From: Merrie McGaw <notifications@github.com>
Sent: Monday, April 13, 2020 7:28:45 PM
To: dotnet/windowsdesktop <windowsdesktop@noreply.github.com>
Cc: Adam Yoblick <Adam.Yoblick@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/windowsdesktop] Port change from Core-Setup to rely on Arcade for dotnetcli blob storage

[2020-04-17 20:29] merriemcgaw commented on #530
@richlander - can you clarify the difference between the first two bullet points? We've done our testing when it's directly compiled as ARM64. Now we need to enable crossgen and the zip files enabled. This is not our area of expertise :)

[2020-04-20 23:20] #367 closed

[2020-04-20 23:21] merriemcgaw commented on #705
@mthalman , @mmitche - is this resolved with the latest Preview?

[2020-04-20 23:24] merriemcgaw commented on #619
@merriemcgaw to confirm the internal path creation for issues to be filed.

[2020-04-20 23:26] merriemcgaw commented on #577
@dagood @Shyam-Gupta  - is this good now that we're updating dependencies properly, or is there something else that needs to be done.

[2020-04-20 23:27] merriemcgaw commented on #541
@NikolaMilosavljevic m @dagood, is this something acquisition should be doing or is this something for Winforms/wpf team?

[2020-04-20 23:30] merriemcgaw commented on #530
@dagood  - I think this is focused on WinForms delivery first. I don't think we're considering WPF first.

Are we looking at a CoreSDK ARM64 installer? Should we be part of this sort of effort?

[2020-04-20 23:41] NikolaMilosavljevic commented on #530
We already produce arm64 ZIPs for runtime. We are also working on native arm64 installers for shared runtime, tracked in https://github.com/dotnet/runtime/issues/1529 - note that these will be native installers and not x86 ones under emulation.

[2020-04-21 12:35] mthalman commented on #705
Yes, this was fixed in 5.0.100-preview.3.20208.17.  Closing.

[2020-04-21 12:35] #705 closed

[2020-04-21 19:46] merriemcgaw commented on #530
Thanks @NikolaMilosavljevic

Would adding the crossgen and zips be a job for the WinForms team (and later WPF when they're ready) or does setup team want to grab that?

[2020-04-21 23:25] NikolaMilosavljevic commented on #530
@merriemcgaw  I am looking into enabling ZIP creation right now.

[2020-04-23 21:58] merriemcgaw commented on #530
As always, you rock @NikolaMilosavljevic !

[2020-04-27 19:06] #530 closed

[2020-04-30 14:22] JensNordenbro commented on #530
Is there a way to download a preview to try and build winforms applications for win-arm64 as an outcome for this being closed?

[2020-05-01 18:03] AdamYoblick commented on #530
Hi there, @JensNordenbro ! 😄

This won't be publicly available until a new version (preview, or otherwise) of the .net core sdk is released. I'm not familiar with their release schedule. @dsplaisted , I looked at the roadmap at https://github.com/dotnet/core/blob/master/roadmap.md but that only listed major releases. Is there somewhere else I should be looking for this?

Also, while not *technical

[2020-05-01 20:35] JensNordenbro commented on #530
Thanks @AdamYoblick !

I will try it.
Do you know if crossgen is possible on the WinForms-stuff when building using those instructions?

I was a bit surprised that this was not a given on the roadmap for .NET 5 or even working already in Core 3.1 since Surface X is a released product and .NET Framework is not planned to be ported to ARM64 whereas .NET Core already is. I will hold my thumbs for .NE

[2020-05-01 20:49] AdamYoblick commented on #530
If you build with those instructions, you won't need to crossgen. That's the process for building directly for arm64.
The official winforms build doesn't build for arm64. We build for x64 and those bits are crossgen'd to the various archs as part of the windowsdesktop build.

I'm finding out about when these crossgen changes will be available in the sdk. I'll get back to you.

[2020-05-01 21:10] AdamYoblick commented on #530
This change will likely go into preview 5 of the .NET 5 SDK. Unfortunately I don't think we have a public schedule for preview release dates, so I'm not able to say when that will be. 😦

[2020-05-01 23:33] hmartinez82 opened #760 "Local builds with build.cmd don't honor the target platform"
In a x64 OS, building with:

 `.\build.cmd -c Release -platform arm64`  or
 `.\build.cmd -c Release -platform x86`

is always building x64 binaries.

[2020-05-01 23:34] hmartinez82 commented on #760
It seems the issue is in `build.ps1` where  `/p:TargetArchitecture=` should be used in lieu of `/p:Platform=`

[2020-05-04 00:25] #760 closed

[2020-05-06 21:32] #541 closed

[2020-05-12 15:40] mmitche commented on #533
@AdamYoblick What's the ETA on the port of this change?

[2020-05-12 16:14] AdamYoblick commented on #533
I’m not sure, I’ve been working on winforms designer stuff. @Merrie McGaw<mailto:Merrie.McGaw@microsoft.com> , would you like me to re-prioritize?

________________________________
From: Matt Mitchell <notifications@github.com>
Sent: Tuesday, May 12, 2020 10:40:19 AM
To: dotnet/windowsdesktop <windowsdesktop@noreply.github.com>
Cc: Adam Yoblick <Adam.Yoblick@microsoft.com>; Mention <mention@norepl

[2020-05-12 17:08] merriemcgaw commented on #533
Either you or @RussKie would be great. We can also ask @ryalanms to help too.

[2020-05-12 21:11] AdamYoblick commented on #533
I attempted to port the change, PR is at #768 . I'm not really sure what I was doing here, so it was just a straight port. 😄

[2020-05-13 19:40] #533 closed

[2020-05-13 20:21] hoyosjs opened #770 "ARM64 WindowsDesktop Runtime pack's PlatformManifest is a superset of shipped assets"
Currently, the ARM64 runtime pack has a PlatformManifest that list assets we don't ship in such a package. The package only contains WinForms bits, and this is correctly reflected in the RuntimeList. The PlatformManifest however lists all the assets. This will result in a publish thinking the shared framework has assets it doesn't have. This might result in a runtime "File Not Found" exception for

[2020-05-19 22:37] mmitche opened #776 "Generate a version metadata file which can be used by dotnet-install"
When the runtime or other components generates a stabilized build, it publishes to a non-stable directory, with an identical set of stable and suffixed asset names inside. This is so that dotnet-install, which makes an assumption that the version to install will match the asset name, will work properly. Example:

3.0.100-preview3-123545\sdk-3.0.100-preview3-123545.zip (contents are 3.0.100 branded

[2020-06-17 15:30] bozturkMSFT commented on #776
The name `productVersion.txt` was used in the installer. Let's use the same name everywhere unless there is a good reason, please.

[2020-06-22 15:27] mmitche opened #882 "Signing validation failing"
https://dev.azure.com/dnceng/internal/_build/results?buildId=697772&view=logs&s=3df7d716-4c9c-5c26-9f45-11f62216640d&j=0a6c679f-72be-5867-422e-acb741a068a3

Official builds have been failing since https://dev.azure.com/dnceng/internal/_git/dotnet-windowsdesktop/commit/2595fea55907e19b621d24258470639a4428e5a6?refName=refs%2Fheads%2Fmaster

[2020-06-22 15:28] mmitche commented on #882
/cc @fabiant3 This will block p7. Can you take a look?

[2020-06-22 21:32] ryalanms commented on #882
I'm looking at this now.

All the assemblies failing sign validation are runtime assemblies, not WPF assemblies.  This appeared after a version update to 5.0.0-preview.7.20311.2.

[code]

[2020-06-22 21:42] mmitche commented on #882
Ahh. @ViktorHofer can you confirm this is fixed in new builds?

[2020-06-22 22:32] mmitche commented on #882
@ryalanms Also, windowsdesktop is not currently signing its binaries, likely due to the same issue in runtime:

https://github.com/dotnet/runtime/pull/38104#pullrequestreview-435135282

[2020-06-22 23:00] safern commented on #882
I can confirm this is fixed in new builds. I ran signing validation with the produced drop from the last official build and it succeeded:

[code]

[2020-06-23 21:29] ryalanms commented on #882
All the changes have now flowed from dotnet/wpf.  To fix the signing problem with WindowsDesktop, I assume the ItemGroup in Signing.props needs to be wrapped in a target, similar to https://github.com/dotnet/runtime/pull/38104/files#diff-3f0380cc81441e712c5eba1d7b77e649R15.  Is that sufficient?

[2020-06-24 00:50] ryalanms commented on #882
This is fixed.  Thanks.

[2020-06-24 00:50] #882 closed

[2020-06-24 16:47] mmitche opened #897 "Move validation steps to post-build"
Windowsdesktop should opt-in to post-build validation for SDL, NuGet validation, etc.,

To enable the nightly validation runs, you add repo entries here: https://dev.azure.com/dnceng/internal/_git/dotnet-release?path=%2Feng%2Fpipeline%2Ftools%2Frepos-to-validate.txt and this file a version of https://github.com/dotnet/aspnetcore/blob/master/eng/sdl-tsa-vars.config into your repo under the eng fold

[2020-06-30 21:26] dagood opened #920 "Investigate WindowsDesktop dependencies on System.Security.Permissions so it can be safely omitted"
While trying to remove `System.Security.Permissions` for https://github.com/dotnet/core-setup/issues/7290, some closure validation errors came up:

[code]

Some may be caused by having stale dependencies (https://github.com/dotnet/core-setup/issues/7343), but not all (https://github.com/dotnet/core-setup/pull/7324#discussion_r306436855):

Once we're sure this is safe (not sure if Core-Setup should

[2020-07-17 20:42] mmitche commented on #897
Done #943

[2020-07-17 20:42] #897 closed

[2020-07-17 21:12] dagood commented on #776
Here's the dotnet/runtime instance of this issue: https://github.com/dotnet/runtime/issues/3833.

The sharedfx SDK seems like the right place to produce these fairly simple artifacts. /cc @NikolaMilosavljevic @jkoritzinsky

[2020-08-17 22:48] AdamYoblick commented on #619
This work is now done via https://github.com/dotnet/windowsdesktop/pull/1017.

SDL PER BUILD is configured, but DISABLED (identical to winforms repo, this was the ask from dnceng).
SDL on .net core product NIGHTLY and RELEASE runs is enabled, matches all other repos.

[2020-08-18 21:28] #619 closed

[2020-10-21 20:11] AdamYoblick opened #1172 "Consume intellisense XML from package"
Intellisense now has an internal nuget package that should be consumed instead of grabbing the xml from the winforms/wpf packages.

- Feed is `https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5-transport/nuget/v3/index.json`
- Package name is `Microsoft.Private.Intellisense`
- Current package version should be EXCATLY `5.0.0-preview-20201009.2` (use `[]` around the package version to forc

[2020-10-21 20:13] AdamYoblick commented on #1172
@NikolaMilosavljevic Do you have time to chat about how to do this work? I'm not clear how things get pulled into these packages.

[2020-12-05 04:52] augustoproiete opened #1281 "Calls to comctl32.dll succeed in .NET 4.8, but fail in .NET 5 with System.EntryPointNotFoundException"
* .NET Core Version: **5.0.100** and **3.1.404**
* Windows version: **Windows 10** (18363.1139)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: **No**
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? **No**

 **Problem description:**

Calls to `comctl32.dll` succeed in .NET Framework 4.8, but fail in .NET 5 and also in .NET Co

[2020-12-07 20:26] dagood opened #1282 "Enforce WindowsDesktop DLL/EXE files having non-zero FileVersion"
https://github.com/dotnet/core-setup/blob/851859e9e07eda7adb2dcf129b0d6fb3cab411e3/src/pkg/projects/windowsdesktop/dir.props#L8-L17

https://github.com/dotnet/core-setup/pull/5682 added validation that all DLL files in the platform manifest have a `FileVersion` that isn't null or 0.0.0.0. These WindowsDesktop files should be looked at so the validation suppression can be removed.

This is only a s

[2020-12-07 21:51] RussKie commented on #1282
@ryalanms would any of these be coming with WPF?

[2020-12-16 22:22] NikolaMilosavljevic opened #1306 "Windows Desktop Burn bundle consumes 2 English WXL files - update the build to remove duplicate"
Related to https://github.com/dotnet/runtime/issues/35206
Dependent on https://github.com/dotnet/arcade/issues/6698

Change in installer infra is being made with https://github.com/dotnet/arcade/pull/6700. Once the change is available in WindowsDesktop repo, the unused copy of English WXL file should be removed: https://github.com/dotnet/windowsdesktop/blob/master/pkg/windowsdesktop/sfx/bundle.wxl

[2021-01-05 21:30] merriemcgaw commented on #1281
@ryalanms I'm interested in your thoughts and @JeremyKuhne when he's back from vacation. Obviously we want to get this working for WPF customers.

[2021-01-07 17:43] #1306 closed

[2021-01-08 00:41] merriemcgaw commented on #1281
WinForms team basically feels that it is not efficient for WinForms to provide this loose manifest - we've always (even in .NET Framework) used the embedded manifest approach. In other words we don't know how WPF used the loose manifest and we believe that WPF should find a solution either here with a loose manifest approach or embedding the manifest from resources like WinForms does.

[2021-01-08 00:43] ryalanms commented on #1281
Sorry, @merriemcgaw.  I haven't been able to look at this yet, but it sounds like WPF should embed the manifest to get parity with .NET Framework.

[2021-01-19 11:37] Ni2Be opened #1363 "Distinguish “.NET Core Desktop Runtime” version from “.NET Core Runtime” as dependency while setup"
Hello, I hope this is the right place for my question:

We used to install “.NET Core Runtime” as a prerequisite in our wix-Setup.
Now we introduced a new dependency to “.NET Core **Desktop** Runtime”.

Our Problem:
We use this registry key to get the version and then check if we need to update:
Root="HKLM" Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedhost"

But “.NET Core **Desktop** Ru

[2021-03-10 23:05] svetovid opened #1485 "Could not register the following drivers PenImc_cor3.dll running dotnet6 winforms app"
* .NET Core Version:
- SDK 6.0.100-preview.1.21107.2
- Microsoft.NETCore.App 6.0.0-preview.2.21105.12
- Microsoft.WindowsDesktop.App 6.0.0-preview.2.21104.2

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

![image](https://user-images.githubusercontent.com/9212389/107414561-774c3b00-6b12-11eb-90d6-ea52093d7235.png)

Running a simple winforms application on

[2021-03-11 00:34] fabiant3 commented on #1485
So ARM64 specific. @ryalanms - did we miss adding this DLL?

[2021-03-11 01:04] ryalanms commented on #1485
I don't believe penimc should ever be loaded by WinForms unless there is WPF hosted content inside a WinForms application.   This looks like a packaging error, but I need to get a repro to confirm.

PenIMC is a SxS COM dll that is loaded by WPF's PresentationCore when a tablet/touchscreen is detected by WPF.  The embedded manifest in the dll is added to the ActivationContext prior to any calls.  I

[2021-03-11 01:32] ryalanms commented on #1485
I wasn't able to reproduce the failure with 6.0.100-preview.2.21158.2 on Surface Pro X (a touch device).

1. dotnet new winforms
2. dotnet publish -c Release -r win-arm64
3. Run on a ARM64 device

@svetovid:  Could you paste the output from "dotnet --info" and share your machine configuration?  Thanks.

[2021-03-11 09:38] svetovid commented on #1485
Hi @ryalanms,
I specified dotnet info in the description of this issue.
For build I use Windows 10 Pro 1909, x64-based processor Desktop workstation.

After SDK updated to 6.0.100-preview.3.21123.4, the problem seems to be gone.
Thank you.

[2021-03-17 22:31] ryalanms opened #1491 "The WindowsDesktop default branch will be renamed from 'master' to 'main' on 3/22"
The WindowsDesktop default branch will be renamed from 'master' to 'main' on 3/19.

[2021-03-17 22:32] ryalanms commented on #1491
/cc @RussKie

[2021-03-22 15:27] svetovid commented on #1485
Hi @ryalanms,

It still doesn't work, but in our big project, which we are migrating to net 6.
It works on x64 and doesn't on arm64 machines.

Why **PenImc_cor3.dll** is present in the publish folder even if it's a WinForms application?

[2021-03-22 23:20] #1491 closed

[2021-03-23 01:58] RussKie commented on #1491
🚀 💯

[2021-03-23 11:35] bozturkMSFT commented on #776
Any progress on this? Windowsdesktop seems to be the only runtime that doesn't generate this file.

[2021-03-23 17:53] NikolaMilosavljevic commented on #776
cc @merriemcgaw - it seems that the fix implemented in dotnet/runtime could be ported to windowsdesktop: https://github.com/dotnet/runtime/pull/41719

[2021-03-23 19:00] merriemcgaw commented on #776
@ryalanms - could you take a look at this for the WindowsDesktop repo?

[2021-03-23 19:11] ryalanms commented on #776
@merriemcgaw: Yes, I'll take a look.

@NikolaMilosavljevic:  What is the deadline to get this in?  Thanks.

[2021-03-23 19:28] NikolaMilosavljevic commented on #776
I'm not aware of the deadline. @bozturkMSFT is this a scenario blocker?

[2021-03-26 12:44] bozturkMSFT commented on #776
@ryalanms @NikolaMilosavljevic Starting .NET 6.0, this file is needed by dotnet-install.ps1 to install windowsdesktop runtime. Currently, the script fails as it cannot verify the version of the downloaded package.

Since we can't complete the work on install script side (https://github.com/dotnet/install-scripts/pull/113), I suspect https://github.com/dotnet/arcade/issues/5757 is also indirectly b

[2021-03-31 01:17] RussKie commented on #1363
@NikolaMilosavljevic is this something you could help with?

[2021-03-31 01:24] RussKie commented on #191
Is there anything outstanding, or can we close this?

[2021-03-31 01:30] RussKie commented on #921
@dagood is this still a thing?

[2021-03-31 01:31] #577 closed

[2021-03-31 01:31] RussKie commented on #577
Presume resolved

[2021-03-31 01:32] RussKie commented on #136
@dagood is this still a thing?

[2021-03-31 01:33] RussKie commented on #920
Is this still a thing?

[2021-03-31 01:41] RussKie commented on #719
I checked the [latest 3.1 release page](https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1.13/3.1.13.md), and it doesn't look like we provide zip archives, hence no shas.

[2021-03-31 01:41] #719 closed

[2021-03-31 01:45] RussKie commented on #4
@dagood is this still a thing?

[2021-03-31 01:46] RussKie commented on #770
@hoyosjs is this still a thing?

[2021-03-31 01:52] #770 closed

[2021-03-31 02:40] ericstj commented on #920
Yes, please remove System.Security.Permissions from WindowsDesktop.

[2021-03-31 15:13] dagood commented on #4
Problem still exists in: https://www.nuget.org/packages/Microsoft.WindowsDesktop.App.Runtime.win-x64/3.1.13
Problem is fixed in: https://www.nuget.org/packages/Microsoft.WindowsDesktop.App.Runtime.win-x64/5.0.4

Seems like a very low priority to me. 😄

/cc @NikolaMilosavljevic

[2021-03-31 15:14] dagood commented on #136
@NikolaMilosavljevic

[2021-03-31 15:18] dagood commented on #921
This is a preemptively filed followup issue to https://github.com/dotnet/windowsdesktop/issues/191.

/cc @NikolaMilosavljevic

[2021-03-31 15:20] dagood commented on #191
It looks like there's text now! 🎉

![image](https://user-images.githubusercontent.com/12819531/113168952-be010c00-920a-11eb-9bdd-cb44168c8060.png)

/cc @NikolaMilosavljevic

[2021-03-31 15:22] NikolaMilosavljevic commented on #136
@RussKie my team is not tracking this work. Installer infrastructure is now mostly in Arcade and all teams that consume it (i.e. WinForms, WPF) can make the changes as appropriate.

[2021-03-31 15:38] NikolaMilosavljevic commented on #191
Yeah, that was fixed as part of 5.0 branding work: https://github.com/dotnet/windowsdesktop/pull/769

Closing this issue.

[2021-03-31 15:38] #191 closed

[2021-03-31 17:05] vatsan-madhavan commented on #920
WPF continues to rely on/use `XamlAccessLevel` and `XamlLoadPermission` because these were exposed in .NET 4.x public contracts and in turn .NET Core 3.x needed to maintain the same contracts as well.

At some point, WPF would have to break those contracts and remove those S.S.P dependencies - and only then this work can be completed.

[2021-03-31 18:18] ericstj commented on #920
We could push types into System.Security.Permissions then leave a dangling typeforward.  It's not all that unlike mscorlib.dll with dangling type-forwards only WPF also happens to put type-defs in WindowsBase.  Would this impact WPF runtime?

[2021-03-31 18:55] vatsan-madhavan commented on #920
WPF does more than passively expose these types; it uses `XamlAccessLevel` and `XamlLoadPermission` in runtime (esp. the former)

https://github.com/dotnet/wpf/search?q=xamlaccesslevel

For e.g., `XamlObjectWriter` continues to respect `XamlAccessLevel`

[src/Microsoft.DotNet.Wpf/test/DRT/DrtXaml/DrtXaml/Tests/AdvXamlFeatureTests.cs#L1046-L1053](https://github.com/dotnet/wpf/blob/826e2df1774c8beaf

[2021-03-31 21:55] RussKie commented on #921
#191 was resolved by https://github.com/dotnet/windowsdesktop/pull/769, which introduced loc'ed strings.
Presume fixed.

[2021-03-31 21:56] #921 closed

[2021-03-31 23:07] RussKie commented on #4
Would this issue belong to the Arcade repo? I can't find "core-setup" string in this repo.

[2021-04-01 15:57] NikolaMilosavljevic commented on #4
We'll still need an issue in dotnet/windowsdesktop to set the new property. Infra change to use the new property during nuget packaging would be in Arcade. Arcade change should set a default value if property is not defined.

[2021-04-07 14:51] adiaaida commented on #776
Quick note on this: so that the files do not overlap in our aka.ms links, runtime, aspnetcore and installer all additionally produce a productVersion.txt file with the product name in the name of the file, ie runtime-productVersion.txt, aspnetcore-productVersion.txt, etc. WindowsDesktop will need to do this too.

[2021-04-23 13:29] svetovid commented on #1485
Hi,

In our solution we have a step which uses Regsvr32.exe to register native dlls. It works fine on x64 machines but fails with mentioned error on ARM64.

We removed it from our pipeline, so this issue can be closed.

Thank you.

[2021-05-21 08:45] bekir-ozturk commented on #776
The two issues I mentioned above (dotnet/install-scripts#113 & dotnet/arcade#5757) are now closed.
Any updates on this one?

[2021-06-08 15:28] Tyrrrz commented on #1363
@Ni2Be

A more reliable way to detect installed runtimes is to run `dotnet --list-runtimes` programmatically and look for `Microsoft.WindowsDesktop.App` in standard output.

As a side note, I made a little package that replaces the default `exe` shim with a bootstrapper that just does downloads and installs .NET automatically: https://github.com/Tyrrrz/DotnetRuntimeBootstrapper

[2021-06-14 01:34] molesmoke commented on #1363
I was trying to achieve the same effect via the UpgradeCode, but it seems that it's not constant between the versions. For instance, checking in Orca:
WDR 5.0.6 (x86) - UpgradeCode: {2A9685EF-543B-6723-B828-8A65A3946333}
WDR 5.0.7 (x86) - UpgradeCode: {ACAEDB65-5BD1-4EE3-375E-D4768D61BF8E}

Is there a Microsoft recommendation to determine what this installed version is?

[2021-06-26 07:18] ForNeVeR opened #1773 "The state of the Windows API Code Pack"
### Disclaimer

I don't know if this is the right repository for this kind of discussion, so please point me to the right place if this is not one. Though, I believe that the Windows Desktop SDK repository is one of the best places for this particular question, and I'm sorry if it's not appropriate to start a discussion like this here.

### Description

There's a well-known (to fellow Windows .NET

[2021-07-13 23:26] rickbrew opened #1823 ".NET Desktop Runtime 5.0.8 (ARM64) does not include .NET Runtime 5.0.8"
As per https://dotnet.microsoft.com/download/dotnet/5.0 :

However, if you install the ARM64 build, it does not include the .NET Runtime, e.g. `C:\Program Files\dotnet\dotnet.exe` doesn't exist. You just get `dotnet/shared/Microsoft.WindowsDesktop.App/*`

This works as expected on x86/x64.

[2021-07-16 00:25] rickbrew commented on #1363
You can also use the `NETCoreCheck` utility. You can get it as an EXE (per-platform) with  https://www.nuget.org/packages/Microsoft.NET.Tools.NETCoreCheck.x64 . It can check for the runtime and for the WindowsDesktop runtime pack (and ASP.NET if you want).

The source is also at https://github.com/dotnet/deployment-tools/tree/main/src/clickonce/native/projects/NetCoreCheck if you prefer to inline

[2021-07-18 17:27] MagicAndre1981 commented on #1773
I use [this one](https://github.com/pierresprim/Windows-API-Code-Pack), as it gets regular fixes and has .net 5.0 support

[2021-07-19 19:24] merriemcgaw commented on #1823
@dreddy-work can you take point on getting this fixed for the next servicing release?

[2021-07-19 19:45] dreddy-work commented on #1823
@ryalanms  is on it.

[2021-07-19 19:46] ryalanms commented on #1823
@leecow :   The WindowsDesktop repo is not tracked in TacticsView, so we have been raising servicing bugs in Tactics or via email.  Can WindowsDesktop (and wpf-int, if possible) be added?

(There is already a single-line PR out to include the Runtime in the WindowsDesktop runtime, but it missed the 5.0.9 window.)

[2021-07-19 19:47] merriemcgaw commented on #1823
Thanks guys, I should have double checked 😊

[2021-07-19 20:17] leecow commented on #1823
@timheuer - can you make the update?

[2021-07-19 20:49] timheuer commented on #1823
@leecow update made, `dotnet/WindowsDesktop` added and will start being picked up.  I couldn't find `wpf-int` and assume that is a non-public repo which wouldn't presently work...let me know if I need to think about that though.

[2021-07-22 02:49] rickbrew commented on #1823
So just to clarify, this will be fixed with the 5.0.10 release? (September, right?)

Thankfully I have a reasonable and simple workaround for now -- I just install both the Runtime and Desktop Runtime on arm64 as part of app setup.

[2021-07-23 15:48] ryalanms commented on #1823
@rickbrew:  Yes, that is correct.  Unfortunately the fix did not make 5.0.9.

[2021-08-19 09:00] ViktorHofer opened #1977 "dotnet6 feeds should be removed from main"
The ~~dotnet5 and~~ dotnet6 feeds are listed in main's NuGet.config file. These shouldn't be used to construct the 7.0 product.

cc @mmitche

[2021-08-19 09:01] ViktorHofer opened #1978 "dotnet5 feeds should be removed from release/6.0* branches"
The dotnet5 feeds are still listed in the repo's NuGet.config file in release/6.0* branches. These feeds shouldn't be used to construct the 6.0 product.

cc @mmitche

[2021-09-03 08:38] jjliu-vmware opened #2151 "Occasionally failed to install Desktop Runtime dotnet_runtime_5.0.7_win_x86.msi"
### Description
When silently install Microsoft Desktop Runtime dotnet_runtime_5.0.7_win_x86.msi we got failures like:
[12D0:12D8][2021-08-25T01:12:28]e000: Error 0x8007000e: Failed to allocate data for message.
[12D0:12D8][2021-08-25T01:12:28]e000: Error 0x8007000e: Failed to get message over pipe
[12D0:12D8][2021-08-25T01:12:28]e000: Error 0x8007000e: Failed to pump messages during send message

[2021-09-16 11:16] bekir-ozturk commented on #776
@ryalanms @merriemcgaw This continues to become an [issue](https://github.com/dotnet/install-scripts/issues/214) and we are getting close to .NET 6 GA. When can we expect this work to be done?

[2021-09-16 23:29] merriemcgaw commented on #776
We are getting very close. @ryalanms ; @fabiant3 is this still on your radar? @vishalmsft might also want to know about it. There's not a lot of runway left for .NET 6; we're going to be locking down very very soon.

[2021-09-17 00:38] RussKie commented on #776
Is this what needs to happen https://github.com/dotnet/runtime/pull/41719?

[2021-09-17 00:40] ryalanms commented on #776
I have a build going containing the update in the internal queue.  I'll open a PR if it succeeds.

[2021-09-17 04:58] ryalanms commented on #776
There is now a productVersion.txt file created in the blob artifacts containing the version.  Is that the only update required?

https://dev.azure.com/dnceng/internal/_build/results?buildId=1367719&view=artifacts&pathAsName=false&type=publishedArtifacts

This should be changed to WindowsDesktop-productVersion.txt?

[2021-09-20 05:16] bekir-ozturk commented on #776
Yes, except for one other thing.
As @adiaaida mentioned [above](https://github.com/dotnet/windowsdesktop/issues/776#issuecomment-814979285), there also needs to a duplicate of the same file named "windowsdesktop-productVersion.txt".
@ryalanms Can you create the duplicate file as well?

[2021-09-20 05:21] RussKie commented on #776
I believe it has been done, please refer to #2131

https://github.com/dotnet/windowsdesktop/blob/9ad1fb8464899da4bdfdd98a59b84c2ef7cb009a/publish/prepare-artifacts.proj#L70-L82

[2021-09-20 05:30] bekir-ozturk commented on #776
Great! It wasn't available in the build @ryalanms shared above, but it seems to be fixed later.
I believe this issue can be closed now. Thank you all!

[2021-09-20 22:54] #776 closed

[2021-11-15 12:27] Ni2Be commented on #1363
Oh I’m sorry, for some reason notifications on this were disabled. Thanks for all the answers 😊
We went with a combination of checking registry values and parsing file-names. It’s pretty robust atm but we will definitely have a look on NETCoreCheck when we integrate 6.0

[2021-11-15 12:27] #1363 closed

[2021-12-28 17:30] AraHaan commented on #136
I would love this, however should arm64 be included with this (and have it only attempt to display or install it if their OS supports arm64)

This would be great however for the .NET SDK itself as well as the other places where installers are officially made as well too.

[2022-01-12 14:03] Junjun-zhao opened #2527 "[dotnet-sdk-7.0.100-alpha.1.22057.7]MaterialDesignInXamlToolkit failed to launch with BadImageFormat exception"
**Application Name**: MaterialDesignInXamlToolkit
**OS**: Windows RS5
​**CPU:** X64
**.NET Build Number:** dotnet-sdk-7.0.100-alpha.1.22057.7

**Verify Scenarios:**
1). Windows10 RS5 x64+dotnet-sdk-7.0.100-alpha.1.22057.7:Fail
2). Windows10 RS5 x64+dotnet-sdk-7.0-alpha.1.21568.2:Pass
3). Windows10 RS5 x64+dotnet-sdk-3.1.121-win-x64:Pass
4). Windows10 RS5 x64+dotnet-sdk-5.0.404-win-x64:Pass
5). Win

[2022-03-24 20:17] leecow opened #2723 "THIRD-PARTY-NOTICES.TXT needed for windowsdesktop repo?"
If third-party components are used in a .NET repo, a THIRD-PARTY-NOTICES.TXT detailing any third-party source code included in final built artifacts, along with the controlling license information must be included and maintained at the root of the affected repo ([dotnet/runtime example](https://github.com/dotnet/runtime/blob/main/THIRD-PARTY-NOTICES.TXT)).

During product build, these files are us

[2022-03-28 23:44] RussKie commented on #2723
Windows Forms do not use any 3rd party dependencies (i.e., non Microsoft) in the production code (i.e., the code we ship in Windows Desktop):
* https://github.com/dotnet/winforms/blob/main/src/Microsoft.VisualBasic.Forms/src/Microsoft.VisualBasic.Forms.vbproj
* https://github.com/dotnet/winforms/blob/main/src/Microsoft.VisualBasic/src/Microsoft.VisualBasic.Facade.csproj
* https://github.com/dotnet

[2022-03-28 23:47] RussKie commented on #2723
@singhashish-wpf please detail WPF 3rd party dependencies, if any. Thank you

[2022-03-29 04:03] singhashish-wpf commented on #2723
strawberry-perl is being used in global.json for wpf, apart from that there doesn't seem to be any 3rd party dependencies for wpf too. But that won't ship to windowsdesktop, can someone confirm if that is to be mentioned or we are good to go?

[2022-03-30 13:01] leecow commented on #2723
Thanks all. @singhashish-wpf, we only need to document dependencies included in shipping assets. Sounds like nothing is needed here.

[2022-05-15 02:23] Sinsjr2 opened #2878 "Can I include this installer in Commercial app？"
### Question
I know This repository is The Mit License and this installer ( https://dotnet.microsoft.com/ja-jp/download/dotnet/6.0 ) is multi license,
Can I include this installer in commercial app installer CD?

"dotnet windows" includes Licenses other than The MIT License.
https://github.com/dotnet/core/blob/main/license-information-windows.md
Also, "THIRD-PARTY-NOTICES.txt" in install folder is

[2022-05-16 01:38] richlander commented on #2878
Yes. The main question you want to answer is whether .NET 6 gives you redistributable rights. It does, both for Windows and other supported operating systems.

[2022-06-08 01:44] RussKie commented on #2151
Closing as .NET 5 has reached EOL

[2022-06-08 01:44] #2151 closed

[2022-06-08 01:45] RussKie commented on #1823
Closing as .NET 5 has reached EOL

[2022-06-08 01:45] #1823 closed

[2022-06-08 01:45] #1172 closed

[2022-06-08 01:46] #136 closed

[2022-07-14 21:59] Moeahmad94 opened #3010 "How can I install the Microsoft.WindowsDesktop.App version 6.0.0 framework in an azure app service?"
Hi,

I have an api project targeting net6.0-windows10.0.22000.0 due to a windows dependency that I'm trying to run as an azure app service. It runs fine locally in VS 2022 but when I deploy and try to run it in azure, I get an error saying: "The framework 'Microsoft.WindowsDesktop.App', version '6.0.0' (x86) was not found."

Is there any way for me to install that framework to the app service? I d

[2022-08-15 23:20] dreddy-work opened #3089 "Upgrade VS.Redist.Common.NetCore.SharedFramework to 8.0 when runtime publish it."
pkg\windowsdesktop\bundle\Microsoft.WindowsDesktop.App.Bundle.bundleproj#L0
pkg\windowsdesktop\bundle\Microsoft.WindowsDesktop.App.Bundle.bundleproj(0,0): error NU1101: (NETCORE_ENGINEERING_TELEMETRY=Restore) Unable to find package VS.Redist.Common.NetCore.SharedFramework.x86.8.0. No packages exist with this id in source(s): dotnet-eng, dotnet-public, dotnet-tools, dotnet6, dotnet6-transport, dotn

[2022-11-22 12:53] akoeplinger opened #3311 "dotnet-windowsdesktop internal build is broken due to old agent image"
I noticed that https://dev.azure.com/dnceng/internal/_build/results?buildId=2049616&view=results is broken because it is using an old agent image:

[code]

[2022-11-29 18:41] dreddy-work commented on #3311
Should be fixed by now.

[2022-11-29 18:41] #3311 closed

[2022-11-29 18:43] dreddy-work commented on #1977
dotnet6 feeds are removed already.

[2022-11-29 18:43] #1977 closed

[2022-11-29 18:44] dreddy-work commented on #1978
@mmitche, can you confirm? I can help remove them.

[2022-11-29 18:45] mmitche commented on #1978
Yep they should be able to be removed.

[2022-11-29 19:18] #1978 closed